@import 'variables';

:root {
    font-size: 16px;
}

body {
    background-color: $background-color;
    box-sizing: border-box;
    transition: 0.2s ease;
}

[data-theme="light"] {
    .gradient {
        color: #fff !important;
    }
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.hero-polygon-wrapper {

    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 75%);
    z-index: -1;
    position: relative;    
    // transition: 0.2s ease;
}