@import 'variables';

:root {
    font-size: 16px;
}

body {
    background-color: $background-color;
    box-sizing: border-box;
    transition: 0.2s ease;
}

[data-theme="light"] {
    .gradient {
        color: #fff !important;
    }
}

.row {
    margin-left: 0px;
    margin-right: 0px;
}


.hero-polygon-wrapper {

    clip-path: polygon(100% 0%, 0% 0%, 0% 100%, 100% 75%);
    z-index: -1;
    position: relative;    
    // transition: 0.2s ease;
}

.text-svg-container {

    .text-wrapper {

        margin: auto ;
        padding: 2rem;
    }

    .svg-wrapper {
        margin: auto;

        img {
            max-width: 80%;
            height: auto;
            margin: auto;            
        }
    }
}


@media screen and (max-width: 996px) {
    .svg-wrapper {
        img {
            max-width: 90% !important;
        }
    }
}