

.glass {

    &-overlay {
        position: absolute;
        background-color: $glass-overlay;
        // backdrop-filter: blur(50px);
        --webkit-backdrop-filter: blur(100px);
        min-height: 100%;
        max-width: 100%;
        width: 100%;
        z-index: 10;
        transition: 0.2s ease;
        box-shadow: none;
        top: 0;
        // align-items: center;
        padding: 6rem 4rem;
        // display: flex;
        // flex-direction: column;
    }

    &-wrapper {
        background-color: $glass-overlay;
        border-radius: 10px;
        height: 100%;
        // width: 100%;
        // max-width: 75%;
        margin: auto;
        border: $theme-border;
        padding: 4rem;
        --webkit-backdrop-filter: blur(15px);
        box-shadow: $shadow;
        display: flex;   
        flex-direction: column;
    }

}

@media screen and (max-width: 996px) {

    .glass {

        &-overlay {
            padding: 5rem 1.5rem 7rem;
        }

        &-wrapper {
            padding: 3rem 2rem;
        }

    }

}