

.glass {

    &-columns {
        

    }

    &-overlay {
        position: absolute;
        background-color: $glass-overlay;
        // backdrop-filter: blur(50px);
        --webkit-backdrop-filter: blur(100px);
        min-height: 100%;
        max-width: 100%;
        width: 100%;
        z-index: 0;
        transition: 0.2s ease;
        box-shadow: none;
        top: 0;
        // align-items: center;
        padding: 6rem 4rem;
        // display: flex;
        // flex-direction: column;
    }

    &-wrapper {
        background-color: $glass-wrapper;
        border-radius: 10px;
        height: 100%;
        // width: 100%;
        // max-width: 75%;
        margin: 0.5rem;
        border: $theme-border;
        padding: 4rem;
        --webkit-backdrop-filter: blur(15px);
        // box-shadow: $shadow;
        box-shadow: $shadow;
        display: flex;   
        transition: 0.2s ease;
        flex-direction: column;

        // &-mockup {
        //     padding: 1rem 0.5rem !important;
        //     max-height: 35rem;
        //     // overflow-y: scroll;
        //     align-items: center;
        //     // object-fit: cover;
        //     // overflow-x: hidden;            

        //     &::-webkit-scrollbar {
        //         display: none;
        //         // visibility: hidden;
        //     }

        //     // img {
        //     //     // width: 10%;
        //     //     object-fit: cover;
        //     // }
        // }
    }
}

@media screen and (max-width: 996px) {

    .glass {

        &-overlay {
            padding: 3rem 1.5rem 5rem;
        }

        &-wrapper {
            padding: 3rem 2rem;
            // margin: 0.5rem;

            &-mockup {
                &::-webkit-scrollbar {
                    // display: block;
                    // display: inline;
                    // display: contents;
                    // display: inline-block;
                }
            }
        }

    }

}