

.nav {

    &-wrapper {

        padding: 0.35rem;
        position: fixed !important;
        width: 100%;
        z-index: 50;        

        .logo-link {
            img {
                transition: 0.2s ease;
                height: 2.5rem;
                width: auto;
                margin-right: 1rem;
            }

            display: flex;
            flex-direction: row;
            align-items: center;            
        }

        transition: $transition;
    }

    &-list {
        // justify-content: center;
    }

    &-link {

    }

}

@media screen and (max-width: 996px ) {
    .logo-link {
        img {
            height: 2rem !important;
        }
    }
}