@import 'variables';
@import url('https://fonts.googleapis.com/css2?family=Dela+Gothic+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

body {
    color: $text-color;
    font-family: 'Ubuntu', sans-serif;
    scroll-behavior: smooth;
}

a {
    color: $text-color;
    transition: 0.2s ease;        

    &.mockup-link {
        text-decoration: none;        
        margin: 0.5rem auto;

        &:hover {

            color: $purple;
        }
    }
}

.text {
    &-special {
        font-family: 'Dela Gothic One', cursive !important;
    }

    &-gradient {
        background: $gradient-linear;
        background-clip: text;
        -webkit-background-clip: text;
        -webkit-text-fill-color: transparent;
    }

    &-sm {
        font-size: 5rem;
    }

    &-sm-1 {
        font-size: 4.5rem;
    }

    &-md-1 {
        font-size: 6rem;
    }

    &-md-2 {
        font-size: 5.5rem;
    }

    &-md {
        font-size: 7rem;
    }

    &-lg {
        font-size: 8rem;
    }

    &-xl {
        font-size: 10rem;
    }

}

[data-theme="dark"] {
    a {
        &.mockup-link {
            &:hover {
                color: $primary;
            }
        }
    }
}

@media (min-width: 576px) { 

    .text {
        &-responsive {
            font-size: 2rem;
        }
    }

 }

// Small devices (landscape phones, less than 768px)
@media (min-width: 768px) { 

    .text {
        &-responsive {
            font-size: 3rem;
        }
    }

 }

// Medium devices (tablets, less than 992px)
@media (min-width: 992px) { 

    .text {
        &-responsive {
            font-size: 4rem;
        }
    }

 }

// Large devices (desktops, less than 1200px)
@media (min-width: 1200px) { 

    .text {
        &-responsive {
            font-size: 5rem;
        }
    }

 }