

.full-view {
    min-height: 40rem;
}

.icon {

    &-stack-wrapper {

        justify-content: center;
        display: flex;
        flex-direction: row;
        // background-color: $dark;
        border-radius: 20px;
        padding: 0.4rem 0.6rem;        

        // label {
        //     &:nth-child(1) {
        //         margin-right: auto;
        //     }

        //     &:nth-child(3) {
        //         margin-left: auto;
        //     }            
        // }

        input {
            margin: auto 0.5rem !important;
        }

    }

}

.border {

    &-theme {

        &-top {
            border-top: $theme-border;
        }
        
        &-bottom {
            border-bottom: $theme-border;            
        }

        &-right {
            border-right: $theme-border;
        }

        &-left {
            border-left: $theme-border;
        }
    }

}

.shadow {
    &-theme {
        box-shadow: $shadow;
        transition: $transition;
    }
}

.mockup {

    &-container {
        
    }

    &-wrapper {
        
        // position: relative;        
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &-item {
        max-height: 28rem;   
        overflow-y: auto;
        // position: relative;
        &::-webkit-scrollbar {
            display: none;
        }

        // margin-left: auto;
        // margin-right: auto;
        margin-bottom: 1rem;        

    }

    &-img {
        // max-height: 85%;
        border: $theme-border;
        border-radius: 3px;
        // box-shadow: $shadow;

    }

    &-text {
        // margin-top: 2rem;
        bottom: 0;
        // position: absolute;
    }
}

.hover {
    
    transition: 0.2s ease;

    &-accent {

        &:hover {
            color: $accent !important;
        }

    }
}

.project {
    &-wrapper {
        padding: 1.5rem 0.75rem;
        text-align: center;
        position: relative;
        overflow-x: hidden;
        // overflow-y: hidden;
        height: auto;
    }

    &-item {

        margin: 1rem auto;

        &-img {

            &-wrapper  {
                margin: auto;
                text-align: center;
                // width: 100%;   
                
                small.subtitle {
                    font-weight: 400;
                }
            }

            &-div {                
                max-height: 60rem;
                // height: auto;
                max-width: 90%;
                // width: auto;
                position: relative;
                margin: 1rem auto; 
                border-radius: 10px;               
            }

            &-text {
                position: absolute;
                bottom: 0;
                left: 0.5rem;
                width: 98%;                
                // z-index: 10;
            }

        }

    }
}

.gradient {

    &-img {

        position: absolute;        
        z-index: -10;        
        max-width: 130%;

        &-center {
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        &-left-center {
            left: -10%;
            top: -40%;
            // transform: translate(0, -50%);
        }

        &-blur {
            filter: blur(100px)
        };

        &-right {
            right: -40%;
            top: 3%;
        }

        &-01 {
            right: -40%;
            top: 5%;
        }

        &-02 {
            left: -40%;
            top: 30%;
        }

        &-03 {
            right: -40%;
            top: 50%;
        }

        &-04 {
            left: -40%;
            top: 75%;
        }

        &-05 {
            right: -40%;
            top: 75%;
        }

        &-bottom {
            bottom: 1%;
            right: -50%;
        }

    }

}

.invert-color {
    filter: brightness(50%) invert(1);
}

.social {

    &-wrapper {
        margin: 1.5rem auto 5rem;
        padding: 2rem 0.5rem;    
        scroll-behavior: smooth;
        display: flex;
        flex-direction: row;
        overflow-x: scroll;
        height: 100%;
        text-align: center;
        
        &::-webkit-scrollbar {
            display: none;
        }
    }

    &-icon {        
        min-height: 4rem;
        max-height: 6rem;
            
    }

    &-item {
        padding: 3rem 2rem !important;
        min-width: 14rem;        
    }

    &-text {
        &-wrapper {
            margin: 1rem auto 0;

            h4 {
                margin: 1rem auto;
                line-height: 0;
            }
            
            a {
                text-decoration: none;
            }

            .bs-icon {
                visibility: hidden;
                transition: 0.2s ease;
            }

            &:hover {
                .bs-icon {
                    visibility: visible;
                }
            }
        }
    }

}

.badge {

    transition: 0.2s ease;

    &-pill {
        border-radius: 20px;
        margin: 0.25rem 0.35rem;
        padding: 0.5rem 0.8rem;
        // letter-spacing: 0.1rem;
        font-weight: 400;        
    }

    &-blue-md {
        background-color: $blue-md;
    }

    &-tag {
        &:hover {
            background-color: $primary;
            color: $light;            
        }
    }
}

@media screen and (min-width: 768px) {

    .gradient {

        &-img {
            width: 60%;
            // filter: blur(60px);

            &-right {
                right: -20%;
                top: 1%;
            }

            &-01 {
                right: -20%;
                top: 1%;
            }

            &-02 {
                left: -20%;
                top: 35%;
            }

            &-03 {
                right: -20%;
                top: 60%;
            }

            &-04 {
                left: -20%;
                top: 75%;
            }

            &-05 {
                right: -20%;
                top: 75%;
            }
        }        
    }

    .project {
        &-wrapper {
            padding: 3rem;
            
        }
    }
}

@media screen and (max-width: 1025px) {

    .parallax-banner-layer-0 {
        
        background-position: center !important;
        background-size: 100% auto !important;
        background-repeat: no-repeat;

    }

}

@media screen and (min-width: 1040px) {

    .project {
    
        &-item {

            margin: 5rem auto;
        
            &-img-div {
                min-height: 35rem;
                box-shadow: $shadow;
                // border-radius: 10px;
                border: $theme-border;
            }
        }
    }
}