

.full-view {
    min-height: 40rem;
}

.icon {

    &-stack-wrapper {

        justify-content: center;
        display: flex;
        flex-direction: row;
        // background-color: $dark;
        border-radius: 20px;
        padding: 0.4rem 0.6rem;        

        // label {
        //     &:nth-child(1) {
        //         margin-right: auto;
        //     }

        //     &:nth-child(3) {
        //         margin-left: auto;
        //     }            
        // }

        input {
            margin: auto 0.5rem !important;
        }

    }

}

.border {

    &-theme {

        &-top {
            border-top: $theme-border;
        }
        
        &-bottom {
            border-bottom: $theme-border;
        }

        &-right {
            border-right: $theme-border;
        }

        &-left {
            border-left: $theme-border;
        }
    }

}

.shadow {
    &-theme {
        box-shadow: $shadow;
        transition: $transition;
    }
}

.mockup {

    &-container {
        
    }

    &-wrapper {
        
        // position: relative;        
        display: flex;
        flex-direction: column;
        text-align: center;
    }

    &-item {
        max-height: 28rem;   
        overflow-y: auto;
        // position: relative;
        &::-webkit-scrollbar {
            display: none;
        }

        // margin-left: auto;
        // margin-right: auto;
        margin-bottom: 1rem;        

    }

    &-img {
        // max-height: 85%;
        border: $theme-border;
        border-radius: 3px;
        // box-shadow: $shadow;

    }

    &-text {
        // margin-top: 2rem;
        bottom: 0;
        // position: absolute;
    }
}

.project {
    &-wrapper {
        padding: 0.25rem;
        text-align: center;
        position: relative;
    }

    &-item {

        margin: 5rem auto;

        &-img {

            &-wrapper  {
                margin: auto;
                text-align: center;
                // width: 100%;                
            }

            &-div {
                min-height: 30rem;
                max-height: 60rem;
                // height: auto;
                max-width: 90%;
                // width: auto;
                position: relative;
                margin: 1rem auto;
                box-shadow: $shadow;
                border-radius: 10px;
                border: $theme-border;
            }

            &-text {
                position: absolute;
                bottom: 0;
                left: 0.5rem;
                width: 98%;
                // z-index: 10;
            }

        }

    }
}

.gradient {

    &-img {

        position: absolute;
        // filter: blur(45px);
        z-index: -1;
        // width: 30%;
        max-width: 120%;

        &-right {
            right: 0%;
            top: 0%;
        }

    }

}


@media screen and (min-width: 768px) {

    .gradient {

        &-img {
            width: 40%;
            // filter: blur(60px);

            &-right {
                right: 0%;
                top: 5%;
            }
        }        
    }

    .project {
        &-wrapper {
            padding: 3rem;
            
        }
    }
}

@media screen and (max-width: 1025px) {

    .parallax-banner-layer-0 {

        background-position: center !important;
        background-size: 150% auto !important;
        background-repeat: no-repeat;

    }

}